<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>ad-hoc</string>
    <key>teamID</key>
    <string>64RUEL6S3F</string>
    <key>signingStyle</key>
    <string>automatic</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>net.snowpipe.kingsheroes</key>
        <string>kingsheroes_Dev</string>
    </dict>
    <key>uploadBitcode</key>
    <false/>
</dict>
</plist>